{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% load static %}
{% block content %}

  <main id="main">

    <!-- ======= About Section ======= -->
    <section class="about">

      <img class="about_bg animate__animated animate__fadeInUp" src="{{abouts.hero_Image.url}}" alt="">

      <div class="container">

        <div class="row overflow-hidden">
          <div class="col-lg-6">
            <img data-aos="fade-right" src="{{abouts.about_Image2.url}}" class="img-fluid mt-5" alt="">
          </div>
          <div style="text-align: justify;" class="col-lg-6 pt-4 pt-lg-0 content">
            {{abouts.content|safe}}
          </div>
        </div>

      </div>
    </section>

    <section id="cr_message">
      <div class="container">
        <h1 data-aos="fade-up" class="section_heading pt-5 text-center">Message from the Chairman<br>of <br>Rotation
          World Ltd.</h1>
        <img data-aos="fade-up" class="mx-auto d-block mt-5 rounded border border-warning w-50"
          src="{{abouts.chairman_Image.url}}" alt="">
        <div class="message_text mt-5">
          {{abouts.chairman_Message|safe}}
        </div>
      </div>
    </section>

    <section id="directors_bg">
      <div class="container">
        <h1 data-aos="fade-up" class="section_heading pt-5 text-center">Directors<br>of <br>Rotation World Ltd.</h1>
        <div data-aos="fade-up" class="row row-cols-1 row-cols-md-3 g-4 pt-5 pb-5">
          {% for d in directors %}
          <div class="col">
            <div class="card h-100 border-0 shadow-sm">
              <img src="{{d.profile.url}}" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title">{{d.name}}</h5>
                <p class="card-text">{{d.title|safe}}</p>
              </div>
              <div class="card-footer social-links d-flex justify-content-center border-0">
                <a href="{{d.twitter}}" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="{{d.facebook}}" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="{{d.linkedin}}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>



    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container">

        <div data-aos="fade-up" class="section-title">
          <h2>All Clients List</h2>
        </div>

        <div data-aos="fade-up" class="card-group">
          <div class="card">
            <div class="card-body">
              <ul>
                <li>Akij Group</li>
                <li>Akij Bashir Group</li>
                <li>Salma Group</li>
                <li>Purbani Group</li>
                <li>Union Group</li>
                <li>Square group</li>
                <li>Pran Group</li>
                <li>NZ Group</li>
                <li>NAZ</li>
                <li>Ha-meem Group</li>
                <li>Unitex Group</li>
                <li>Ispahani Group</li>
                <li>Infinia Group</li>
                <li>Abul Khair Tobacco</li>
                <li>BRB Cable</li>
                <li>Envoy Textile</li>
                <li>Thermax Group</li>
                <li>Matin Spinning</li>
                <li>Badsha Textile</li>
                <li>CRC Textile</li>
                <li>Shahjahan Spinning</li>
                <li>ACS Textile</li>
                <li>Sanjana Fabrics</li>
                <li>Palmal Group</li>
                <li>Badar Group</li>
                <li>ATM Textile</li>
                <li>Hazrat Amanatshah Lungi</li>
                <li>Paragon</li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <ul>
                <li>Far East Group</li>
                <li>Multazim Group</li>
                <li>Naheed Group</li>
                <li>Otto Spinning</li>
                <li>Rahmat Textile</li>
                <li>Kazi Food</li>
                <li>Rani Food</li>
                <li>Team Group</li>
                <li>SM Group</li>
                <li>GMS Textile</li>
                <li>Impress Newtex</li>
                <li>VIP Bag</li>
                <li>Amber Group</li>
                <li>Aman Spinning</li>
                <li>Energypac</li>
                <li>Suguna Food</li>
                <li>Tamishna Textile</li>
                <li>Mosharaf Group</li>
                <li>Mega Yarn Dyeing</li>
                <li>Shasha Denim</li>
                <li>EOS Textile</li>
                <li>Sinha Textile</li>
                <li>Knit Concern Group</li>
                <li>New Asia Group</li>
                <li>Rising Group</li>
                <li>Labib Group</li>
                <li>Urmi Group</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>
{% endblock %}