{% extends 'base.html' %}
{% load static %}
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index">Home</a></li>
          <li>Contact</li>
        </ol>
        <h2>Contact</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="row">
          

          <div class="col-lg-4 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>info@rwlbd.com</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>sales.rwl@selbn.com</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+88 01989221122</p>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Head Office</h3>
              <p>H# 653, R# 02, Block #B, Diabari, Nishatnagar, Turag, Dhaka-1230, Bangladesh</p>
              <i class="bx bx-map"></i>
              <h3>Factory Address</h3>
              <p>H# 19/1, Ward# 54, South Auch Para, Mokdom Munshi Road, <br> Tongi West Thana, Gazipur, Bangladesh</p>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-lg-6">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d456.04897136674197!2d90.37176055513625!3d23.87572263768261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c3f69bf12d85%3A0xe4f6ea90ef13bd22!2sBangladesh%20Road%20Transport%20Authority%20(BRTA)%2C%20Dhaka%20Metro-3!5e0!3m2!1sen!2sbd!4v1707402797480!5m2!1sen!2sbd"
              style="border:0; width: 100%; height: 384px;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

          <div class="col-lg-6">


            <form action="{% url 'contact' %}" method="post" role="form">
              {% for message in messages %}
                  {{message}}
              {% endfor %}
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
             
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
            
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  {% endblock content %}