{% extends 'base.html' %}
{% block title %}{{brand.title}}{% endblock %}
{% load static %}
{% block content %}

    <main class="overflow-hidden">

        <section style="padding: 0px !important;">
            <div>
                <img data-aos="fade-up" class="w-100 mx-auto d-block pb-0" src="{{brand.background.url}}"
                    alt="">
            </div>
        </section>

        <section style="padding: 0px !important;" class="products-section-bg">

            <div class="container w-75 pb-5">
                {% for p in brand.get_products %}
                <div class="row pt-5">
                    <div data-aos="fade-right" class="col-12 col-md-7 col-lg-7">
                        <h1 class="bearings-name-title pt-5">{{p.title}}</h1>
                        <p>{{p.description|safe}}</p>
                        <div>
                            <a href="{% url 'contact'%}" class="shop_button">SHOP NOW</a>
                        </div>
                    </div>
                    <div data-aos="fade-left" class="col-12 col-md-5 col-lg-5">
                        <img class="products-img mt-5" src="{{p.image.url}}" alt="">
                    </div>
                </div>
                {% endfor %}

            </div>
        </section>

      

    </main>


{% endblock %}