  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a target="_blank"
            href="https://mail.google.com/mail/u/0/#inbox">info@rwlbd.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+88 01989221122</span></i>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <a href="index "><img src="assets/img/c_logo.png" alt=""></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about ">About</a></li>
          <li class="dropdown"><a href="#"><span>Products</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="#"><span>Bearings</span> <i class="bi bi-chevron-right"></i></a>
                <ul class="m-2 rounded p-2">
                  <li><a href="kinex-bearings ">KINEX Bearings</a></li>
                  <li><a href="mtk-bearings ">MTK Bearings</a></li>
                  <li><a href="dodge-bearings ">DODGE Bearings</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Belt</span> <i class="bi bi-chevron-right"></i></a>
                <ul class="m-2 rounded p-2">
                  <li><a href="ammeraal-belt ">Ammeraal Beltech</a></li>
                  <li><a href="megadyne "><span>Megadyne</span></a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Textile Machineries</span> <i class="bi bi-chevron-right"></i></a>
                <ul class="m-2 rounded p-2">
                  <li><a href="temsan ">Temsan Air</a></li>
                  <li><a href="super ">Super</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="industries ">Industries</a></li>
          <li><a class="active" href="news ">News & Events</a></li>

          <li><a href="contact ">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>
