{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
  
  <main>

    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
          <div class="carousel-inner" role="listbox">

            <!-- Slide  -->
            {% for slider in sliders %}
            <div class="carousel-item active" style="background-image: url({{slider.background.url}})">
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2 class="animate__animated animate__fadeInDown text-white">{{slider.title|safe}}</h2>
                  <p class="animate__animated animate__fadeInUp text-white">{{slider.description}}</p>
                  <a href="{{slider.button_Link}}" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                </div>
              </div>
            </div>
           {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
          </a>

          <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
          </a>

        </div>
      </div>
    </section><!-- End Hero -->

    <section id="brands" class="pt-5">

      <div class="section-title">
        <h2 class="text-white">Our Brands</h2>
      </div>

      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for b in brands %}
          <div data-aos="fade-up" class="col">
            <div class=" single_cards h-100 rounded">
              <a target="_blank" href="{{b.website_Link}}">
                <div class="border-0 p-3 shadow-sm rounded h-100">
                  <img src="{{b.logo.url}}" class="card-img-top brand_logo" alt="...">
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>



    <!-- ======= Our Industries Start ========= -->
    <section id="industries">
      <div class="container pt-5">

        <div data-aos="fade-up" class="section-title">
          <h2>Our Industries</h2>
        </div>

        <div data-aos="fade-up" class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-2 g-lg-3">
          {% for i in industries %}
            <div class="col industri-icon">
              <div class="p-3 border shadow-sm rounded industri-name"><img class="w-25 mx-auto d-block industri-icon"
                  src="{{i.icon.url}}" alt="{{i.title}}">{{i.title}}</div>
            </div> 
          {% endfor %}

        </div>
      </div>
    </section>


    <!-- ======= Our Industries End ========= -->


    <!-- ======= About Section ======= -->
    <section id="about" class="about mt-5">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img data-aos="fade-right" src="{{abouts.about_Image.url}}" class="img-fluid rounded" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content mt-5">
            <h3 data-aos="fade-up">About us</h3>
            <p data-aos="fade-up" style="text-align: justify;" class="mt-5">
              {{abouts.content|slice:":400" | safe}}...
            </p>

            <div data-aos="fade-up" style="margin-top: 90px;">
              <a href="{% url 'about' %}" class="about_rm_button">Read More</a>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Feature Products ======= -->


    <!-- Feature Products Stat -->

    <section class="container">
      <div data-aos="fade-up" class="section-title">
        <h2>Feature Products</h2>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for p in products %}
        <div data-aos="fade-up" class="col">
          <div class="card border-0 shadow-sm h-100">
            <img src="{{p.image.url}}" class="card-img-top featured_card_image p-3" alt="..." height="200px">
            <div class="card-body">
              <h5 class="card-title">{{p.title}}</h5>
              <p class="card-text">{{p.description|safe}}</p>
            </div>
            <div class="p-3">
              <p><a class="details_button" href="{% url 'contact'%}">Shop Now</a></p>
            </div>
          </div>
        </div>
        {% endfor %}
     
      </div>
    </section>


    <!-- Feature Products End -->




    <!-- ============================= BRAND FEATURE PRODUCTS ============================ -->


    <!--  DODGE BIARING START -->
    <section id="feature_brands">
      <div data-aos="fade-up" class="section-title pt-5">
        <h2>Available Brands</h2>
      </div>
      {% for b in brands %}
      {% if b.get_products.exists %} 
      <div data-aos="fade-up" class="">
        <hr>
        <div class="container">
          <img data-aos="fade-up" class="featured_brand_logo"
            src="{{b.logo.url}}" alt="">
        </div>
        <hr>
      </div>

      <div class="container">
        {% for p in b.get_products %}
        <div class="row">
          <div data-aos="fade-up" class="col-12 col-md-6 col-lg-6">
            <h1 class="feature_brand_name">{{p.title}}</h1>
            {% if p.subtitle %}
            <h4>{{p.subtitle}}</h4>
            {% endif %}
            <p>{{p.description|safe}}</p>

            <div class="pt-5">
              <a href="{% url 'contact' %}" class="shop_button">SHOP NOW</a>
            </div>
          </div>
          <div data-aos="fade-up" class="col-12 col-md-6 col-lg-6">
            <img class="featured_brand_img"
              src="{{p.image.url}}" alt="">
          </div>
        </div>
        {% endfor %}
      </div>

      {% endif %}
      {% endfor %}

    

    </section>

    <!--  DODGE BIARING END -->

    <!-- ============================= BRAND FEATURE PRODUCTS  END ============================ -->




    <!-- ======= Clients Section ======= -->

    <section id="clients" class="clients mt-5">
      <div class="container">

        <div class="section-title">
          <h2>Clients</h2>
        </div>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            {% for c in clients %}
              <div class="swiper-slide"><img src="{{c.image.url}}" class="img-fluid" alt="{{c.title}}"></div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

  </main><!-- End #main -->

{% endblock content %}